@import "constant";
@import "User_Detail";
@import "Button";
@import "Posts";

body {
    background-color: $backgroundColor;
    color: $foreground;
}

.posts {
    background-color: $darkerBackgroundColor;
    position: relative;
}