@import "constant";
@import "Button";

.cover-image {
    width: 100%;
}

.profile-image {
    border-radius: 50%;
    border: 3px solid $foreground;
}

.user-profile-container {
    display: flex;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.list-container {
    display: grid;
    // flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 48px 48px;
}

.posts {
    list-style-type: none;
    // padding: $cardPaddingDesktop;
    width: 100%;

    img {
        width: 100%;
    }
}

.contents {
    margin-left: addThings(20, 20) *1px;
    margin-right: addThings(20, 20) *1px;
}

.load-more {
    @include button();
}